@font-face {
  font-family: "Eurostile Extended";
  font-display: block;
  src: local("Eurostile Extended"),
    url("./fonts/EurostileExtended.ttf") format("truetype");
}

@font-face {
  font-family: "Eurostile Extended Black";
  font-display: block;
  src: local("Eurostile Extended Black"),
    url("./fonts/EurostileExtendedBlack.ttf") format("truetype");
}

@import url("https://fonts.googleapis.com/css?family=Michroma&display=swap");

a {
  color: rgb(133, 133, 133);
  text-decoration: none;
}

a:hover,
a:active,
a:focus {
  color: rgb(163, 163, 163);
  cursor: crosshair;
}

.AppX {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  font-family: "Eurostile Extended", "Michroma";
  cursor: crosshair;
  width: 300px;
  height: 650px;
  padding: 5px;
  
}

.AppX:focus {
  outline: none;
}

.Circle-wrapper {
  margin: auto;
  width: 100vw;
  opacity: 0.1;
  position: absolute;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  to {
    transform: rotate(360deg);
  }
}

img {
  animation: App-logo-spin infinite 10.8s ease-in-out;
  -moz-animation: App-logo-spin infinite 10.8s ease-in-out;
  width: 100vw;
}

.Circle {
  width: 100%;
  height: auto;
  display: inline-block;
  z-index: 0;
  filter: blur(0px);
  opacity: 1;
  transition: filter 3.33s, opacity 3.33s;
}

.Circle:hover {
  filter: blur(13.3px);
  opacity: 0.3;
}

#foot {
  color: rgb(38, 38, 38);
  font-size: 10px;
  margin-top: 40vw;
  opacity: 0.25;
  position: absolute;
}

#bioBox {
  color: rgb(69, 69, 69);
  font-size: 20px;
  line-height: 20px;
  width: 100%;
  height: 80px;
  margin-bottom: 5px;
}

#bioSpan {
  width: 100%;
  height: 100%;
}

#bioBox:hover {
  filter: brightness(1.2);
}


