body {
  background-color: rgba(255, 255, 255, 0);
  width: 100%;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0px;
  z-index: 1;
}

#root {
  background-color: rgba(255, 255, 255, 0);
  width: 100%;
  height: 100%;
  z-index: 1;
  overflow: auto;
  
}

html {
  background-color: #f6f9ff;
  cursor: crosshair;
  width: 100%;
  height: 100%;
  z-index: 1;
  filter: invert(10%) contrast(120%);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
